# Gradle
.gradle/
build/
out/
classes/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Fabric
run/

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# Utils
java_files.txt
json_files.txt
images_files.txt
clear.ps1
*.png~